@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/bg.jpg);
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.card-image img{
    max-width: 450px;
    height: 550px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 4px 2px 3px #fefefe;
     
}
#btn {
    background-color: #0c113778;
    z-index: 999999;
    margin: -340px;
    padding: 10px;
    border-radius: 10px;
    color: #fefefe;
    text-transform: capitalize;
}
.greeting{
    width: 400px;
    color: #10069e;
    padding: 10px;
    margin: -219px;
    border-radius: 10px;
    border: 1px solid #12009bdd;
    text-align: justify;
    background-color: #ede6e6;
    box-shadow: 4px 2px 3px #2b2828;
}
.greeting h1{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.greeting p{
    font-size: 20px;
    margin: 8px 8px;
    
}